body{
    font-family: "Lato", sans-serif;
    margin: 70px 0px;
    background-color: #0069d6;
}

.divider{
    width: 100px;
    height: 2px;
    background: #ffa500;
    margin: 0 auto;
}

.heading{
    text-align: center;
    margin-bottom: 60px;
    color: white;
    margin-top: 10px;
}

h2{
    text-transform: uppercase;
    font-weight: bold;
} 

#contactForm{
    font-size: 20px;
    background: white;
    padding: 40px;
    border-radius: 10px;
}